@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

.cardPorcentaje{
    width: 25vh;
    height: 18vh;
    background: #FFFFFF;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 3vh;
}
.textCard1, .textCard{
    padding-top: .5vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5vh;
    margin: 0;
    color: #464646;
}

.textCard1{
    padding-right: 5vh;
}

.contextCard{
    display: flex;
    justify-content: center;
}

.contextCardData{
    margin-left: 2vh;
    margin-top: 3.5vh;
    width: 21vh;
}

.porcentajeProgress{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5vh;
    color: #A8E3E7;
}


