@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

header{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.logo-header{
    margin: 0;
}

.logo-header button{
    background: none;
    border: none;
    cursor: pointer;
}

.logo-header img{
    padding-top: 1vh;
    width: 5.4vh;
}

.secciones{
    display: flex;
    align-items: center;
    margin: 0;
}

.secciones h2 a, .secciones h2{
    margin: 0;
    font-family: Poppins;
    font-weight: 500;
    color: #A5A5A5;
    font-size: 2.3vh;
    text-decoration: none;
}

.seccion{
    padding: 0vh 4vh 0vh 4vh;
}

.btn-comenzar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-comen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid .25vh #3CC0C9;
    border-radius: 5vh;
    color: #3CC0C9;
    font-family: Poppins;
    font-weight: 500;
    width: 16vh;
    height: 4.5vh;
    font-size: 2.2vh;
    text-decoration: none;
}

.btn-comenzar:hover{
    transform: scale(1.07);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

