@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
.HomeUserPrincipal{
    background: #F8FDFD;
}
.principalData{
    height: 100%;
}
.welcomeUser{
    color: #53C8CF;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nameUser{
    color: #464646;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cardsPorcentajes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}