@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

.navbarUser{
    width: 128px;
    background-color: #ffffff;
}
.nav{
    display: flex;
    justify-content: center;
}
.optionsUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin-top: 240px;
}
/* .options{
    width: fit-content;
    height: fit-content;
} */
#LogoAQA{
    margin-top: 100px;
}
#Logout{
    margin-top: 843px;
    margin-bottom: 151px;
}
Version 2
.naUs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.components{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin-top: 4.25rem;
    margin-bottom: 4.25rem;
}
.options{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
}
.out{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
}